@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// vars
$primary-color: #ef5b4c;
$secondary-color: #007bff;
$back-color1: #fff;
$back-color2: #f9f9f3;
$transition: all 0.3s ease-in;

// general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

button.primary,
input.primary {
  background-color: $primary-color;
  color: $back-color1;
  padding: 0.5rem 3.7rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 20);
  }
}

button.flat {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: $primary-color;
  background: none;
  cursor: pointer;

  &:hover {
    color: darken($primary-color, 20);
  }
}

button.disabled {
  color: #a6a5a5;
  background-color: #d7d7d7;
  padding: 0.5rem 3.7rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

h1.heading1 {
  font-size: 50px;
  line-height: 54px;
  font-weight: 400;
  text-align: center;
}

// navbar
.navbar {
  width: 100vw;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  background-color: $back-color1;
  color: #000;
  flex-wrap: wrap;
  line-height: 1.5rem;
  // padding: 0 2rem;
  padding: 1.25rem 1.875rem;
}

.menu-mobile {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  width: 290px;
  background-color: $back-color1;
  overflow: auto;
  transform: translateX(-100%);
  transition: $transition;

  &.show-menu-mobile {
    transform: translateX(0%);
  }

  img {
    padding: 1rem 0.95rem;
    padding-bottom: 1rem;
    padding-top: 1.25rem;
  }

  .menu-mobile-section {
    padding: 12px 15px;
    li {
      padding: 10px 0;
    }
  }
}

.dark-bg {
  position: fixed;
  transition: $transition;
  z-index: 0;
  width: 100vw;
  height: 0vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000da;

  &.show-bg {
    height: 100vh;
  }
}

.menu {
  display: flex;
  transform: translate(0px, -0.2rem);

  li {
    // padding: 1rem;
    margin-right: 1.125rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

// showcase
.showcase {
  height: auto;
  padding-bottom: 1rem;
  margin-top: 3.75rem;
  // margin-bottom: 9.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-info {
  width: 56%;
  color: $back-color1;
  padding: 6.875rem 0 0 1.875rem;

  .title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -0.063rem;
    line-height: 3.313rem;
  }

  p {
    margin-top: 1.6rem;
    margin-bottom: 2.1rem;
    text-align: justify;
    line-height: 1.5rem;
    padding-right: 0.5rem;
  }
}

// Acquainted
.acquainted-wrapper {
  padding: 9.5rem 0rem;
  h1 {
    text-align: center;
  }

  .acquainted-info-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;

    img {
      width: 100%;
      padding: 2.3rem;
      margin: 2.2rem 1.3rem;
    }

    .acquainted-info {
      padding: 4.4rem 1.5rem 0 2.2rem;

      h2 {
        font-weight: 400;
      }
      p {
        line-height: 1.6rem;
        text-align: justify;

        &:last-of-type {
          margin-bottom: 1.2rem;
        }
      }

      p,
      button {
        margin-top: -0.2rem;
      }
    }
  }
}

// Users
.users-wrapper {
  padding: 10rem 2.5rem;
  background-color: $back-color2;
}

.users {
  margin-top: 7.1rem;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 1.875rem;
  justify-content: space-around;

  .user {
    text-align: center;
    width: 200px;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .user-info {
    width: 200px;
  }

  .user-name {
    margin-bottom: 1.25rem;
    font-weight: 400;
  }

  .user-img {
    margin-bottom: 1.25rem;
  }

  .user-email {
    margin: 0.75rem 0;
  }

  .user-email {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Form

.form-wrapper {
  padding: 10rem 2.5rem;
}

.form {
  width: 34rem;
  margin: 0 auto;
  display: block;
  margin-top: 6.25rem;
  padding: 0 2.5rem;

  &.submitted {
    input {
      &:invalid {
        border: 1px solid #db3445;
      }

      &:invalid:focus {
        box-shadow: 0 0 0 0.2rem #f8d6da;
      }
    }
  }

  input.primary {
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9375rem;

  label,
  input {
    margin: 0.3125rem 0;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff !important;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
      border: 1px solid #80bdff;
      box-shadow: 0 0 0 0.2rem #e6f2ff;
    }

    &:valid {
      background-color: #fff !important ;
    }
  }

  input[type="file"] {
    opacity: 0;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;

    .file-custom {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: -1;
      height: 2.5rem;
      padding: 0.5rem 1rem;
      line-height: 1.5;
      color: #c3c8ce;
      background-color: #fff;
      border: 0.075rem solid #ddd;
      border-radius: 0.25rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;

      &.focus {
        outline: none;
        border: 1px solid #80bdff;
        box-shadow: 0 0 0 0.2rem #e6f2ff;
      }

      &.uploaded {
        color: #404040;
      }

      &.invalid {
        border: 1px solid #db3445;
        color: #c3c8ce;
      }

      &.valid {
        border: 1px solid #80bdff;
      }

      &::before {
        position: absolute;
        top: -0.075rem;
        right: -0.075rem;
        bottom: -0.075rem;
        // z-index: 6;
        display: block;
        content: "Browse";
        height: 2.5rem;
        padding: 0.5rem 1rem;
        line-height: 1.5;
        color: #555;
        background-color: #eee;
        border: 0.075rem solid #ddd;
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }

  p {
    font-size: 0.75rem;
  }
  .radio {
    display: flex;
    align-items: center;
  }

  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    // --disabled: #f6f8ff;
    // --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    width: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    padding: 0.5rem;
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
  }

  input[type="radio"] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 1;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
    }
  }
}

// Footer
footer {
  padding: 1.3rem 0;
  border-top: 1px solid $back-color2;
  text-align: center;
}

@import "responsive";
