@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ef5b4c;
}

button.primary {
  background-color: #ef5b4c;
  color: #fff;
  padding: 0.5rem 3.7rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  outline: none;
}

button.primary:hover {
  background-color: #c42211;
}

button.flat {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: #ef5b4c;
  background: none;
}

h1.heading1 {
  font-size: 48.7px;
  line-height: 54px;
  font-weight: 400;
}

.navbar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.75rem;
  background-color: #fff;
  color: #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5rem;
  padding: 1.25rem 1.875rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, -0.2rem);
          transform: translate(0px, -0.2rem);
}

.menu li {
  margin-right: 1.125rem;
}

.menu li:last-child {
  margin-right: 0;
}

.showcase {
  height: 37.5rem;
  margin-top: 3.75rem;
  margin-bottom: 9.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-info {
  width: 56%;
  color: #fff;
  padding: 6.875rem 0 0 1.875rem;
}

.showcase-info .title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  line-height: 3.313rem;
}

.showcase-info p {
  margin-top: 1.8rem;
  margin-bottom: 2.1rem;
  line-height: 1.5rem;
  padding-right: 0.5rem;
}

.acquainted-wrapper h1 {
  text-align: center;
}

.acquainted-wrapper .acquainted-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.acquainted-wrapper .acquainted-info-wrapper img {
  width: 100%;
  padding: 2.3rem;
  margin: 2.2rem 1.3rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info {
  padding: 4.1rem 1.5rem 0 2.2rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info h2 {
  font-weight: 400;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p {
  line-height: 1.6rem;
  text-align: justify;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p:last-of-type {
  margin-bottom: 0.2rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p,
.acquainted-wrapper .acquainted-info-wrapper .acquainted-info button {
  margin-top: -0.2rem;
}
