@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ef5b4c;
}

button.primary,
input.primary {
  background-color: #ef5b4c;
  color: #fff;
  padding: 0.5rem 3.7rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button.primary:hover,
input.primary:hover {
  background-color: #c42211;
}

button.flat {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: #ef5b4c;
  background: none;
  cursor: pointer;
}

button.flat:hover {
  color: #c42211;
}

button.disabled {
  color: #a6a5a5;
  background-color: #d7d7d7;
  padding: 0.5rem 3.7rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

h1.heading1 {
  font-size: 50px;
  line-height: 54px;
  font-weight: 400;
  text-align: center;
}

.navbar {
  width: 100vw;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.75rem;
  background-color: #fff;
  color: #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5rem;
  padding: 1.25rem 1.875rem;
}

.menu-mobile-wrapper {
  display: none;
}

.menu-mobile-wrapper .show-menu-mobile-wrapper {
  display: block;
}

.menu-mobile {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  width: 290px;
  background-color: #fff;
  overflow: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-mobile.show-menu-mobile {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-mobile img {
  padding: 1rem 0.95rem;
  padding-bottom: 1rem;
}

.menu-mobile .menu-mobile-section {
  padding: 12px 15px;
}

.menu-mobile .menu-mobile-section li {
  padding: 10px 0;
}

.dark-bg {
  position: fixed;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 0;
  width: 100vw;
  height: 0vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000da;
}

.dark-bg.show-bg {
  height: 100vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, -0.2rem);
          transform: translate(0px, -0.2rem);
}

.menu li {
  margin-right: 1.125rem;
}

.menu li:last-child {
  margin-right: 0;
}

.showcase {
  height: 37.5rem;
  margin-top: 3.75rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-info {
  width: 56%;
  color: #fff;
  padding: 6.875rem 0 0 1.875rem;
}

.showcase-info .title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -0.063rem;
  line-height: 3.313rem;
}

.showcase-info p {
  margin-top: 1.6rem;
  margin-bottom: 2.1rem;
  text-align: justify;
  line-height: 1.5rem;
  padding-right: 0.5rem;
}

.acquainted-wrapper {
  padding: 9.5rem 0rem;
}

.acquainted-wrapper h1 {
  text-align: center;
}

.acquainted-wrapper .acquainted-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.acquainted-wrapper .acquainted-info-wrapper img {
  width: 100%;
  padding: 2.3rem;
  margin: 2.2rem 1.3rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info {
  padding: 4.4rem 1.5rem 0 2.2rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info h2 {
  font-weight: 400;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p {
  line-height: 1.6rem;
  text-align: justify;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p:last-of-type {
  margin-bottom: 1.2rem;
}

.acquainted-wrapper .acquainted-info-wrapper .acquainted-info p,
.acquainted-wrapper .acquainted-info-wrapper .acquainted-info button {
  margin-top: -0.2rem;
}

.users-wrapper {
  padding: 10rem 2.5rem;
  background-color: #f9f9f3;
}

.users {
  margin-top: 7.1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  gap: 1.875rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.users .user {
  text-align: center;
  width: 200px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
}

.users .user-info {
  width: 200px;
}

.users .user-name {
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.users .user-img {
  margin-bottom: 1.25rem;
}

.users .user-email {
  margin: 0.75rem 0;
}

.users .user-email {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-wrapper {
  padding: 10rem 2.5rem;
}

.form {
  width: 34rem;
  margin: 0 auto;
  display: block;
  margin-top: 6.25rem;
  padding: 0 2.5rem;
}

.form input.primary {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.9375rem;
}

.input-field label,
.input-field input {
  margin: 0.3125rem 0;
}

.input-field input {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.input-field input[type="file"] {
  opacity: 0;
  width: 100%;
}

.input-field .file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

.input-field .file .file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.input-field .file .file-custom::before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-field p {
  font-size: 0.75rem;
}

.input-field .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field input[type="radio"] {
  --active: #275efe;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  width: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  padding: 0.5rem;
  background: var(--b, var(--background));
  -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.input-field input[type="radio"]:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}

.input-field input[type="radio"]:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.input-field input[type="radio"] {
  border-radius: 50%;
}

.input-field input[type="radio"]:after {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--active-inner);
  opacity: 1;
  -webkit-transform: scale(var(--s, 0.7));
          transform: scale(var(--s, 0.7));
}

.input-field input[type="radio"]:checked {
  --s: 0.5;
}

footer {
  padding: 1.3rem 0;
  border-top: 1px solid #f9f9f3;
  text-align: center;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 769px) and (max-width: 780px) {
  .showcase {
    height: auto;
    padding-bottom: 1rem;
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  h1.heading1 {
    font-size: 40px;
    line-height: 44px;
  }
  .showcase {
    height: 31.2rem;
  }
  .showcase .showcase-info {
    width: 63%;
    padding: 3.7rem 0 0 1.875rem;
  }
  .showcase .title {
    font-size: 40px;
    line-height: 44px;
    width: 92%;
    letter-spacing: 0px;
  }
  .acquainted-wrapper {
    padding: 7.1rem 0;
    padding-bottom: 3.2rem;
  }
  .acquainted-wrapper .acquainted-info-wrapper {
    padding: 4rem 2rem;
  }
  .acquainted-wrapper .acquainted-info-wrapper .acquainted-info {
    padding: 0;
  }
  .acquainted-wrapper .acquainted-info-wrapper .acquainted-info br:last-of-type {
    display: none;
  }
  .acquainted-wrapper .acquainted-info-wrapper .acquainted-info button {
    margin-top: 0.5rem;
  }
  .acquainted-wrapper .acquainted-info-wrapper img {
    padding: 1rem;
    margin: -0.8rem 0 0 -1.3rem;
  }
  .users-wrapper {
    padding: 7rem 2.5rem;
    padding-bottom: 7.4rem;
  }
  .users-wrapper button.primary {
    margin-top: 0.8rem !important;
  }
  .users {
    row-gap: 3.2rem;
    margin-top: 7.4rem;
  }
  .users .user {
    margin-bottom: 0;
  }
  .form-wrapper {
    padding: 7rem 2.5rem;
  }
  .form-wrapper .form {
    margin-top: 5.4rem;
  }
  .form-wrapper .input-field {
    margin-bottom: 0.6rem;
  }
  .form-wrapper .input-field input[type="radio"] {
    width: 17px;
    height: 17px;
    padding: 0.1rem;
  }
  .form-wrapper .input-field input[type="radio"]::after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 1;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
}

@media screen and (max-width: 360px) {
  h1.heading1,
  .showcase .title {
    font-size: 30px;
    line-height: 34px;
  }
  .menu-mobile img {
    padding: 0.7rem 0.95rem;
    padding-bottom: 0.2rem;
  }
  .navbar {
    width: 100vw;
    height: 2.48rem;
    padding: 0.7rem 1rem;
  }
  .showcase {
    margin-top: 2.5rem;
    height: 25rem;
  }
  .showcase .showcase-info {
    padding: 0;
    width: 100%;
  }
  .showcase .showcase-info .title {
    padding: 4.5rem 1.5rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .showcase .showcase-info p {
    margin: 0;
    height: 6.5rem;
    overflow: hidden;
    line-height: 1.4rem;
    padding: 1rem;
    text-indent: 1.8rem;
  }
  .showcase .showcase-info button.primary {
    margin: 0 auto;
    display: block;
    margin-top: 0.5rem;
  }
  .acquainted-wrapper {
    padding: 4.6rem 0;
  }
  .acquainted-wrapper .acquainted-info-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 2rem 1rem;
    row-gap: 1rem;
  }
  .acquainted-wrapper .acquainted-info-wrapper img {
    margin: -1rem 0 0 0;
  }
  .acquainted-wrapper .acquainted-info-wrapper .acquainted-info button {
    margin: auto auto;
    display: block;
  }
  .users-wrapper {
    padding: 3rem 2.5rem;
  }
  .users-wrapper .users {
    margin-top: 4.2rem;
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form-wrapper {
    padding: 7rem 1rem;
  }
  .form-wrapper .form {
    margin-top: 6.8rem;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 666px) {
  .users {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
